---
import SimpleGrid from "../layouts/SimpleGrid.astro"
---

<SimpleGrid title="Artist Gallery Sample">
   <h2>Artist Members</h2>
   <section class="intro">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et egestas quis ipsum suspendisse. Euismod in pellentesque massa placerat duis ultricies lacus. Convallis a cras semper auctor neque vitae tempus. Venenatis tellus in metus vulputate eu scelerisque felis imperdiet. Ultrices gravida dictum fusce ut placerat orci. Sagittis vitae et leo duis ut diam. Leo in vitae turpis massa sed elementum tempus egestas sed. Nisl suscipit adipiscing bibendum est ultricies. Ut etiam sit amet nisl purus in mollis. Gravida arcu ac tortor dignissim convallis aenean et tortor. Mattis nunc sed blandit libero volutpat sed cras. Odio aenean sed adipiscing diam.</p>
   </section>   
   <div class="simple-grid">
      <div class="grid-cell">
         <img src="/assets/icons/userMale-2.svg" alt="" />
         <h2><a href="#">Paul</a></h2>
         <p>Painter</p>
      </div>
      <div class="grid-cell">
         <img src="/assets/icons/userFemaleBlondeHair-2.svg" alt="" />
         <h2>Sarah</h2>
         <p>Sculpture</p>
      </div>
      <div class="grid-cell">
         <img src="/assets/img/profile/aaronbowles.jpg" alt="" />
         <h2>Aaron</h2>
         <p>Painter</p>
      </div>
      <div class="grid-cell">
         <img src="/assets/icons/userMale-2.svg" alt="" />
         <h2>Oscar</h2>
         <p>Painter</p>
      </div>
      <div class="grid-cell">
         <img src="/assets/icons/userFemaleBlondeHair-2.svg" alt="" />
         <h2>Susan</h2>
         <p>Sculpture</p>
      </div>
      <div class="grid-cell">
         <img src="/assets/icons/userFemaleBrownHair-2.svg" alt="" />
         <h2>Lisa</h2>
         <p>Potter</p>
      </div>
      <div class="grid-cell">
         <img src="/assets/img/profile/andrewbryant.png" alt="" />
         <h2>Andrew</h2>
         <p>Generative</p>
      </div>
      <div class="grid-cell">
         <img src="/assets/icons/userFemaleBrownHair-2.svg" alt="" />
         <h2>Jo</h2>
         <p>Potter</p>
      </div>
      <div class="grid-cell">
         <img src="/assets/icons/userMale-2.svg" alt="" />
         <h2>Steve</h2>
         <p>Potter</p>
      </div>
      <div class="grid-cell">
         <img src="/assets/img/profile/nellieroseblair.jpg" alt="" />
         <h2>Nellie</h2>
         <p>Painter</p>
      </div>
      <div class="grid-cell">
         <img src="/assets/img/profile/jamesgreen.jpg" alt="" />
         <h2>James</h2>
         <p>Painter</p>
      </div>
      <div class="grid-cell">
         <img src="/assets/icons/userFemaleBlondeHair-2.svg" alt="" />
         <h2>Sandy</h2>
         <p>Sculpture</p>
      </div>
      <div class="grid-cell">
         <img src="/assets/icons/userFemaleBlondeHair-2.svg" alt="" />
         <h2>Mona</h2>
         <p>Sculpture</p>
      </div>
      <div class="grid-cell">
         <img src="/assets/icons/userFemaleBrownHair-2.svg" alt="" />
         <h2>Laura</h2>
         <p>Potter</p>
      </div>
      <div class="grid-cell">
         <img src="/assets/icons/userMale-2.svg" alt="" />
         <h2>Doug</h2>
         <p>Painter</p>
      </div>
      <div class="grid-cell">
         <img src="/assets/icons/userFemaleBlondeHair-2.svg" alt="" />
         <h2>Jessica</h2>
         <p>Sculpture</p>
      </div>
      <div class="grid-cell">
         <img src="/assets/icons/userFemaleBrownHair-2.svg" alt="" />
         <h2>Linda</h2>
         <p>Potter</p>
      </div>
      <div class="grid-cell">
         <img src="" alt="" />
         <h2></h2>
         <p></p>
      </div>
      <div class="grid-cell">
         <img src="" alt="" />
         <h2></h2>
         <p></p>
      </div>
      <div class="grid-cell">
         <img src="" alt="" />
         <h2></h2>
         <p></p>
      </div>
      <div class="grid-cell">
         <img src="" alt="" />
         <h2></h2>
         <p></p>
      </div>
      <div class="grid-cell">
         <img src="" alt="" />
         <h2></h2>
         <p></p>
      </div>
      <div class="grid-cell">
         <img src="" alt="" />
         <h2></h2>
         <p></p>
      </div>
      <div class="grid-cell">
         <img src="" alt="" />
         <h2></h2>
         <p></p>
      </div>
      <div class="grid-cell">
         <img src="" alt="" />
         <h2></h2>
         <p></p>
      </div>
      <div class="grid-cell">
         <img src="" alt="" />
         <h2></h2>
         <p></p>
      </div>
      <div class="grid-cell">
         <img src="" alt="" />
         <h2></h2>
         <p></p>
      </div>
      <div class="grid-cell">
         <img src="" alt="" />
         <h2></h2>
         <p></p>
      </div>
      <div class="grid-cell">
         <img src="" alt="" />
         <h2></h2>
         <p></p>
      </div>
      <div class="grid-cell">
         <img src="" alt="" />
         <h2></h2>
         <p></p>
      </div>
      <div class="grid-cell">
         <img src="" alt="" />
         <h2></h2>
         <p></p>
      </div>
      <div class="grid-cell">
         <img src="" alt="" />
         <h2></h2>
         <p></p>
      </div>
   </div>
</SimpleGrid>

<style>
   .intro {
      margin: 2em 1.5em;
   }
   .simple-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      text-align: center;
   }
   .grid-cell {
      flex: 2 1 120px;
      grid-template-rows: auto;
   }
   .grid-cell > img {
      max-width: 64px;
      max-height: 64px;
   }
   .grid-cell > h2 {
      font-size: clamp(0.5em, 1.5em, 2em);
   }
</style>
