---
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro"
---

<Layout title="Welcome to Astro.">
   <main>
      <header>
         <h3>James' Sandbox</h3>
         <h1>
            Welcome to My Technology <span class="text-gradient"
               >Playground</span
            >
         </h1>
      </header>
      <div class="introduction">
         <p>
            James is a retired IT professional with 38 years of web and
            application building experience.
         </p>
         <p>
            Since retiring, he has turned his attention to his first love,
            <a href="https://walkingontheedge.studio" target="_blank"
               >creating art</a>.
         </p>
         <p>
            Web development is now a hobby but he still has many interests and
            follows all the latest web technologies.
         </p>
      </div>
      <ul role="list" class="link-card-grid">
         <Card
            href="https://walkingontheedge.studio"
            title="Card 1"
            body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur necessitatibus temporibus quam officiis iure, repellendus qui eum?"
         />

         <Card
            href="https://walkingontheedge.studio"
            title="Card 2"
            body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur necessitatibus temporibus quam officiis iure, repellendus qui eum?"
         />
         <Card
            href="https://walkingontheedge.studio"
            title="Card 3"
            body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur necessitatibus temporibus quam officiis iure, repellendus qui eum?"
         />
         <Card
            href="https://walkingontheedge.studio"
            title="Card 4"
            body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur necessitatibus temporibus quam officiis iure, repellendus qui eum?"
         />
      </ul>
   </main>
</Layout>

<style>
   main {
      margin: auto;
      padding: 1.5rem;
      max-width: 80ch;
   }
   h1 {
      font-size: 3rem;
      font-weight: 800;
      margin: 0;
      line-height: 100%;
   }
   .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
   }
   .introduction {
      line-height: 1.6;
      margin: 1rem 0;
      border: 3px solid var(--clr-purple-600);
      background-color: white;
      padding: 1rem;
      border-radius: 1rem;
   }
   .introduction p {
		padding-block: 5px;
   }
   .introduction strong {
      color: rgb(var(--accent));
   }
   .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
      gap: 1rem;
      padding: 0;
   }
</style>
