---
import Layout from "../layouts/SimpleGrid.astro"
---

<Layout title="Artist Gallery Sample">
   <h2>Artist Members</h2>
   <div class="simple-grid">
      <div class="grid-cell">
         <img src="./assets/icons/userMale-2.svg" alt="" />
         <h2><a href="#">Paul</a></h2>
         <p>Painter</p>
      </div>
      <div class="grid-cell">
         <img src="./assets/icons/userFemaleBlondeHair-2.svg" alt="" />
         <h2>Sarah</h2>
         <p>Sculpture</p>
      </div>
      <div class="grid-cell">
         <img src="./assets/icons/userFemaleBrownHair-2.svg" alt="" />
         <h2>Pamela</h2>
         <p>Potter</p>
      </div>
      <div class="grid-cell">
         <img src="./assets/icons/userMale-2.svg" alt="" />
         <h2>Aaron</h2>
         <p>Painter</p>
      </div>
      <div class="grid-cell">
         <img src="./assets/icons/userFemaleBlondeHair-2.svg" alt="" />
         <h2>Susan</h2>
         <p>Sculpture</p>
      </div>
      <div class="grid-cell">
         <img src="./assets/icons/userFemaleBrownHair-2.svg" alt="" />
         <h2>Lisa</h2>
         <p>Potter</p>
      </div>
      <div class="grid-cell">
         <img src="./assets/icons/userMale-2.svg" alt="" />
         <h2>Andrew</h2>
         <p>Painter</p>
      </div>
      <div class="grid-cell">
         <img src="./assets/icons/userFemaleBrownHair-2.svg" alt="" />
         <h2>Jo</h2>
         <p>Potter</p>
      </div>
      <div class="grid-cell">
         <img src="./assets/icons/userMale-2.svg" alt="" />
         <h2>Steve</h2>
         <p>Painter</p>
      </div>
      <div class="grid-cell">
         <img src="./assets/icons/userFemaleBrownHair-2.svg" alt="" />
         <h2>Nellie</h2>
         <p>Potter</p>
      </div>
      <div class="grid-cell">
         <img src="./assets/icons/userMale-2.svg" alt="" />
         <h2>James</h2>
         <p>Painter</p>
      </div>
      <div class="grid-cell">
         <img src="./assets/icons/userFemaleBlondeHair-2.svg" alt="" />
         <h2>Sandy</h2>
         <p>Sculpture</p>
      </div>
      <div class="grid-cell">
         <img src="./assets/icons/userFemaleBlondeHair-2.svg" alt="" />
         <h2>Mona</h2>
         <p>Sculpture</p>
      </div>
      <div class="grid-cell">
         <img src="./assets/icons/userFemaleBrownHair-2.svg" alt="" />
         <h2>Laura</h2>
         <p>Potter</p>
      </div>
      <div class="grid-cell">
         <img src="./assets/icons/userMale-2.svg" alt="" />
         <h2>Doug</h2>
         <p>Painter</p>
      </div>
      <div class="grid-cell">
         <img src="./assets/icons/userFemaleBlondeHair-2.svg" alt="" />
         <h2>Jessica</h2>
         <p>Sculpture</p>
      </div>
      <div class="grid-cell">
         <img src="./assets/icons/userFemaleBrownHair-2.svg" alt="" />
         <h2>Linda</h2>
         <p>Potter</p>
      </div>
      <div class="grid-cell">
         <img src="" alt="" />
         <h2></h2>
         <p></p>
      </div>
      <div class="grid-cell">
         <img src="" alt="" />
         <h2></h2>
         <p></p>
      </div>
      <div class="grid-cell">
         <img src="" alt="" />
         <h2></h2>
         <p></p>
      </div>
      <div class="grid-cell">
         <img src="" alt="" />
         <h2></h2>
         <p></p>
      </div>
      <div class="grid-cell">
         <img src="" alt="" />
         <h2></h2>
         <p></p>
      </div>
      <div class="grid-cell">
         <img src="" alt="" />
         <h2></h2>
         <p></p>
      </div>
      <div class="grid-cell">
         <img src="" alt="" />
         <h2></h2>
         <p></p>
      </div>
      <div class="grid-cell">
         <img src="" alt="" />
         <h2></h2>
         <p></p>
      </div>
      <div class="grid-cell">
         <img src="" alt="" />
         <h2></h2>
         <p></p>
      </div>
      <div class="grid-cell">
         <img src="" alt="" />
         <h2></h2>
         <p></p>
      </div>
      <div class="grid-cell">
         <img src="" alt="" />
         <h2></h2>
         <p></p>
      </div>
      <div class="grid-cell">
         <img src="" alt="" />
         <h2></h2>
         <p></p>
      </div>
      <div class="grid-cell">
         <img src="" alt="" />
         <h2></h2>
         <p></p>
      </div>
      <div class="grid-cell">
         <img src="" alt="" />
         <h2></h2>
         <p></p>
      </div>
      <div class="grid-cell">
         <img src="" alt="" />
         <h2></h2>
         <p></p>
      </div>
   </div>
</Layout>

<style>
   .simple-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      text-align: center;
   }
   .grid-cell {
      flex: 2 1 120px;
      grid-template-rows: auto;
   }
   .grid-cell > img {
      max-width: 64px;
      max-height: 64px;
   }
   .grid-cell > h2 {
      font-size: clamp(0.5em, 1.5em, 2em);
   }
</style>
